

<button class="open-button" (click)="openForm()">Маєте запитання?</button>
<div style="font-size: 12px; overflow-y: scroll; height:450px;"
     class="chat-popup" id="myForm">
  <div  class="form-container">

    <div style="width: 90%; height: 80%" class="from-me">Оберіть ваше запитання...

      <ol>
        <li (click)="lol('Час подачі заявок')">  Час подачі заявок  </li>
        <li (click)="lol('Найпопулярніший факультет')"> Найпопулярніший факультет </li>
        <li (click)="lol('Найпопулярніша спеціальність')">   Найпопулярніша спеціальність </li>
<!--        <li (click)="lol('Потрібний гуртожиток')"> Потрібний гуртожиток </li>-->
        <li (click)="outputTest()">

          <div class="container">
            <h2>Modal Example</h2>
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Open modal
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Modal body..
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </li>
        <li (click)="lol('Оплата за навчання')"> Оплата за навчання   </li>
        <li> Якщо  вашого питання немає опишіть його нижче і очікуйте відповіді на e-mail </li>
      </ol>
    </div>

    <div *ngIf="MSG === 'empty'; else bla">

    </div>

    <ng-template #bla>
<!--      <p class="from-them"> {{MSG}} </p>-->
      <p  class="from-them" [innerHTML]="this.MSG"></p>
    </ng-template>

    <!--    <input  type="text" placeholder="Задайте ваше питання" [(ngModel)]="MSG">-->
    <input matInput  style="border-style: solid; border-color: grey" placeholder="Задайте ваше питання" [(ngModel)]="this.question">

    <button type="submit"  class="btn" (click)="answer(this.question)">Відправити</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Закрити</button>
  </div>



</div>


<style>
  body {font-family: Arial, Helvetica, sans-serif;}

</style>
