<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#" style="font-family: 'Fira Code',serif">НАШ УНІВЕРСИТЕТ</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->

<div class="container">





  <table>
    <th style="width: 50px;">id</th>
    <th style="width: 200px;">name</th>
    <th style="width: 200px;">surname</th>
    <th style="width: 50px;">avgDiplomaMark</th>
    <th style="width: 50px;">avgDiplomaMark</th>
    <th> Action </th>
    <th> Delete </th>
    <tr *ngFor="let customer of result">
      <td>
        {{customer.idAbitCode}}
      </td>


      <td>
        {{customer.name}}
      </td>

      <td>
        {{customer.surname}}
      </td>

      <td>
        {{customer.avgDiplomaMark}}
      </td>

      <td>
        {{customer.avgDiplomaMark}}
      </td>

      <td >
        <button class="btn btn-info"  (click)="ID(customer.idAbitCode.valueOf())" > Edit</button>
      </td>

      <td >
        <button class="btn btn-danger"  (click)="delById(customer.idAbitCode.valueOf())" > Delete</button>
      </td>

    </tr>

  </table>




  <button class="btn btn-primary" (click)="clickc()">Print to console</button>

  <hr>

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Залишити заяку
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <h2>Форма запиту</h2>
      <form #formCtrl="ngForm">
        <div class="form-group">
          <label>ID:</label>
          <input class="form-control"  type="number" [(ngModel)] = "reqq.idAbitCode"  name="idAbit" placeholder="Ваш id" required>
        </div>

        <div class="form-group">
          <label>Прізвище:</label>
          <input type="text" class="form-control"  class="form-control"   [(ngModel)] = "reqq.name"        name="name" placeholder="Ім'я" required>
        </div>


        <div class="form-group">
          <label>Ім'я:</label>
          <input type="text"  class="form-control"  [(ngModel)] = "reqq.surname"     name="surname" placeholder="Прізвище" required>
        </div>


        <!-- <div class="form-group">
           <label>ID:</label>
           <input type="number"class="form-control"  [(ngModel)] = "reqq.requestCounter" name="counter" placeholder="requests">
         </div>-->


        <div class="form-group">
          <label>Середній бал атестата:</label>
          <input type="text" class="form-control"    [(ngModel)] = "reqq.avgDiplomaMark"  name="avg" placeholder="Середній бал атестату" required>
        </div>

        <button
          data-toggle="modal" data-target="#exampleModalCenter"
          class="btn btn-success" aria-disabled="false"
          [disabled]="!formCtrl.form.valid"
          (click)="addAbit ()"
          [ngClass] = "{'btn-dark': !formCtrl.form.valid}"
        >Відправити
        </button>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                Підтвердити відправлення
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Так</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal">Ні</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>


  <!-- Button trigger modal -->



  <!-- Modal -->

<!--
  <table>
    <th style="width: 50px;">id</th>
    <th style="width: 200px;">Факультет</th>
    <th style="width: 200px;">name</th>
    <th style="width: 200px;">surname</th>
    <th style="width: 50px;">avgDiplomaMark</th>
    <th style="width: 50px;">avgDiplomaMark</th>
    <th> Action </th>
    <th> Delete </th>
    <tr *ngFor="let customer of result">
      <td>
        {{customer.idAbitCode}}
      </td>

      <td *ngFor="let faculties of customer.faculties">
        <h3>Faculty : </h3> {{faculties.facultyName}}

        <div *ngFor="let fac of faculties.faculties">
          <h6 style="background-color: green">{{fac.specializationName}}</h6>
          <h6>{{fac.specializationCode}}</h6>
        </div>

      </td>



      <td>
        {{customer.name}}
      </td>

      <td>
        {{customer.surname}}
      </td>

      <td>
        {{customer.avgDiplomaMark}}
      </td>

      <td>
        {{customer.avgDiplomaMark}}
      </td>

      <td >
        <button class="btn btn-info"  (click)="ID(customer.idAbitCode.valueOf())" > Edit</button>
      </td>

      <td >
        <button class="btn btn-danger"  (click)="delById(customer.idAbitCode.valueOf())" > Delete</button>
      </td>

    </tr>

  </table>

-->

  <button (click)="printFac()">Faculties</button>


</div>
