<p>add-facult works!</p>



<button (click)="printFacult()">click</button>


<!--<table>
  <th style="width: 50px;">id</th>
  <th style="width: 200px;">name</th>
  <th style="width: 200px;">surname</th>
  <th style="width: 50px;">avgDiplomaMark</th>
  <th style="width: 50px;">avgDiplomaMark</th>
  <th> Action </th>
  <th> Delete </th>
  <tr *ngFor="let customer of faultiesList">
    <td>
&lt;!&ndash;      {{customer.faculties}}&ndash;&gt;
    </td>

  <td colspan="4" *ngFor="let faculty of customer.faculties">

    &lt;!&ndash;      <h1> {{ faculty.specializationName}}</h1>&ndash;&gt;
    {{ faculty.specializationCode}}
    {{ faculty.id}}
    {{ faculty.}}
  </td>

  </tr>
</table>-->

<!--

<ng-container style="background-color: aqua" matColumnDef="parcels">
  <mat-header-cell *matHeaderCellDef> Parcels </mat-header-cell>
  <mat-cell *matCellDef="let element">
    <div class="parcels">
      <ng-container  *ngFor="let parcel of faultiesList2">
        <div class="parcel">
          <ul>
            <li>ID: {{parcel.facultyIdl}}</li>
            <li>Name: {{parcel.facultyName}}</li>
          </ul>
          <ul>
            <li *ngFor="let item of parcel.faculties">
              <span>{{item.id}}: {{item.specializationName}}</span>
              <span>{{item.specializationCode}}</span>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </mat-cell>
</ng-container>
-->
