<p>add-facult works!</p>



<button (click)="printFacult()">click</button>


<!--<table>
  <th style="width: 50px;">id</th>
  <th style="width: 200px;">name</th>
  <th style="width: 200px;">surname</th>
  <th style="width: 50px;">avgDiplomaMark</th>
  <th style="width: 50px;">avgDiplomaMark</th>
  <th> Action </th>
  <th> Delete </th>
  <tr *ngFor="let customer of faultiesList">
    <td>
&lt;!&ndash;      {{customer.faculties}}&ndash;&gt;
    </td>

  <td colspan="4" *ngFor="let faculty of customer.faculties">

    &lt;!&ndash;      <h1> {{ faculty.specializationName}}</h1>&ndash;&gt;
    {{ faculty.specializationCode}}
    {{ faculty.id}}
    {{ faculty.}}
  </td>

  </tr>
</table>-->

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-name"> {{element.faculties}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>




