<!--<div class="container">-->
<!--  <header class="jumbotron">-->
<!--    <p>{{ content }}</p>-->
<!--  </header>-->



<!--  <h1>Дякуємо що вибрали наш університет</h1>-->



<!--  <span>Тут буде вся інформація про наш університет</span>-->

<!--  <hr>-->

<!--  <span>Статистика.  К-ть студентів.  Список факультетів</span>-->

<!--  <br>-->
<!--  <hr>-->
<!--  <span>Тут буде картинка якось університету</span>-->


<!--</div>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

<div id="page-top">

<!--  <header class="masthead bg-primary text-white text-center" style="opacity: 1">-->
<!--    <div class="container d-flex align-items-center flex-column">-->
<!--      &lt;!&ndash;      &lt;!&ndash; Masthead Avatar Image&ndash;&gt;<img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="">&ndash;&gt;-->
<!--      &lt;!&ndash; Masthead Heading&ndash;&gt;-->
<!--      <h1 class="masthead-heading mb-0" style="color: #6e68d5">Ласкаво просимо до нашого університету</h1>-->
<!--      &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--      <div class="divider-custom divider-light">-->
<!--        <div class="divider-custom-line"></div>-->
<!--        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--        <div class="divider-custom-line"></div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </header>-->

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="assets/img/Universitat_Wien2.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4"> Ласкаво просимо </h2>
            <p>
            Наш університет займається підготовкою спеціалістів різних напрямків та кваліфікації. Ми раді що ви обрали наш університет та очікуємо зустрічі саме з вами.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <!--            <img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="">-->
            <img class="img-fluid rounded-top" src="assets/img/uni.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Приєднуйтесь до нас</h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section  class="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Кількість студентів</h3>
            <p>56834</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Кількість вступників</h3>
            <p>321</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Подано заявок</h3>
            <p>431</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Us Section -->


  <section class="page-section portfolio" id="portfolio"  >
    <div class="container">
      <!-- Portfolio Section Heading-->
      <div class="text-center">
        <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Напрямки</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row justify-content-center">
        <!-- Portfolio Items-->
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="Log Cabin"/>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/portfolio/game.png" alt="Controller"/>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div><img class="img-fluid" src="assets/img/portfolio/safe.png" alt="Locked Safe"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio Modal-->
  <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary mb-0">Log Cabin</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="Log Cabin"/>
                <!-- Portfolio Modal - Text-->
                <p class="mb-5"> Тут буде текст про спеціальність лісове господарство</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Закрити</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary mb-0">Controller</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/portfolio/game.png" alt="Controller"/>
                <!-- Portfolio Modal - Text-->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary mb-0">Locked Safe</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/portfolio/safe.png" alt="Locked Safe"/>
                <!-- Portfolio Modal - Text-->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <div class="text-center">
        <h2 class="page-section-heading d-inline-block text-white">Про нас</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="pre-wrap lead">Забезпечення розвитку потенціалу та можливостей самореалізації студентів </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="pre-wrap lead">і співробітників в процесі їх спільної освітньої, наукової, інноваційної та організаційної діяльності</p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section" id="contact">
    <div class="container">
      <!-- Contact Section Heading-->
      <div class="text-center">
        <h2 class="page-section-heading text-secondary d-inline-block mb-0">Контакти</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Content-->
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="d-flex flex-column align-items-center">
            <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
            <div class="text-muted">Телефон</div>
            <div class="lead font-weight-bold">032 321-5533</div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex flex-column align-items-center">
<!--            <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>-->
            <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:name@example.com">university@edu.com</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer  class="footer text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="mb-4">Адрес</h4>
          <p class="pre-wrap lead mb-0">м.Львів вул. Городоцька 543</p>
        </div>
        <!-- Footer Social Icons-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="mb-4">Ми в мережі</h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/StartBootstrap"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/startbootstrap"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.dribble.com/startbootstrap"><i class="fab fa-fw fa-dribbble"></i></a>
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-4">
          <h4 class="mb-4">Університет</h4>
          <p class="pre-wrap lead mb-0">Успіхів вам при вступі та до скорої зустрічі</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
  <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Contact form JS-->
  <script src="assets/mail/jqBootstrapValidation.js"></script>
  <script src="assets/mail/contact_me.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>

</div>



